@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #005ab5;
  --color-secondary: #904d00;
  --color-surface: #f8f9fa;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #414754;
  --color-outline-variant: #c1c6d7;
  --color-primary-container: #2273d9;
  --color-on-primary: #ffffff;
  --color-secondary-container: #fd8b00;
  --color-on-secondary-container: #603100;
}

@layer base {
  body {
    @apply bg-surface font-body text-on-surface antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
